.App {
  position: relative;
  overflow-x: clip;
}
.App > :nth-child(1) {
  background-color: var(--black);
  position: relative;
}
.white-gradient {
  position: absolute;
  left: -2rem;
  width: 20rem;
  height: 20rem;
  background: rgba(21, 5, 72, 0.892);
  filter: blur(100px);
  border-radius: 40px;
}
